<h1>All Profiles</h1>

<ul>
  <% @profiles.each do |p| %>
    <li>
      <strong><%= p.name %></strong>
      <ul>
        <% p.machines.each do |m| %>
          <li><%= m.brand %> - <%= m.model %></li>
        <% end %>
      </ul>
      <%= button_to "Delete", profile_path(p), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add New Profile", new_profile_path %>
