<nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "TagMate_landing.png", alt: "TagMate Logo", class: "navbar-logo me-2" %>
      <span class="fw-bold" style="color: #09637E;">TagMate</span>
    <% end %>

    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
        <ul class="navbar-nav text-end ms-auto">
          <li class="nav-item">
            <%= link_to "Profile", new_profile_path, class: "nav-link tm-nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Drawers", drawers_path, class: "nav-link tm-nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tips & tricks", tips_path, class: "nav-link tm-nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path,
                data: { turbo_method: :delete },
                class: "nav-link tm-nav-link" %>
          </li>
        </ul>
      </div>
    <% end %>

  </div>
</nav>
