<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">

      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-4 p-md-5">
          <%= link_to drawer_path(@chat.drawer), class: "btn custom-btn" do %>
            <i class="fa-regular fa-circle-left"></i> Drawer
          <% end %>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
            <h2 class="fw-bold mb-0"><%= @chat.drawer.name %></h2>

          </div>

          <!-- Messages container -->
          <% if @chat.messages.any? %>
            <div id="messages" class="p-1 rounded-4 mb-4" style="background-color: #088395; max-height: 60vh; overflow-y: auto;">

              <% @chat.messages.each do |message| %>

                <% if message.role == "user" %>
                  <div class="d-flex justify-content-end mb-3">
                    <div class="text-white px-4 py-1 rounded-pill shadow-sm text-center" style="background-color: #7AB2B2; max-width: 80%;">
                      <%= raw(render_markdown(message.content)) %>
                    </div>
                  </div>

                <% elsif message.role == "assistant" %>
                  <div class="d-flex justify-content-start mb-3">
                    <div class="text-white px-4 py-2 rounded-4 shadow-sm" >
                      <%= raw(render_markdown(message.content)) %>
                    </div>
                  </div>
                <% end %>

              <% end %>

            </div>
          <% end %>

          <div id="new_message_container">
            <%= simple_form_for [@chat, @message] do |f| %>

              <div class="position-relative">
                <%= f.input :content,
                  label: false,
                  placeholder: "Ask Andrew...",
                  input_html: { class: "form-control rounded-pill px-4 py-2 pe-5 text-start",
                                style: "height: 60px; line-height: 38px;"} %>
                <%= f.button :submit, "🤖",
                  class: "btn border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y me-4 p-0 fs-5",
                  style: "line-height: 1;" %>
              </div>

            <% end %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
