<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center" style="background:#0f8a9d;">
  <div class="row justify-content-center w-100">
    <div class="col-12 col-lg-8">
      <div class="text-center p-5">


        <div class="mb-4">
          <%= image_tag"TagMate_landing.png",
              class: "img-fluid rounded shadow",
              alt: "TagMate illustration" %>
        </div>

        <h1 class="text-white fw-bold">TagMate</h1>
        <p class="text-white fs-4 mb-4">
          Your laundry,<br>decoded.
        </p>

        <% if user_signed_in? %>
          <h1>Welcome back, <%= current_user.username %></h1>
          <%= link_to "Go to profile", profiles_path, class: "btn btn-outline-light btn-sm" %>
          <%= link_to "Scan your clothes", new_clothe_path, class: "btn btn-outline-light btn-sm" %>
          <%= link_to "Go to drawers", drawers_path, class: "btn btn-outline-light btn-sm" %>
        <% else %>
          <div class="d-flex justify-content-center gap-2">
            <%= link_to "Login", new_user_session_path, class: "btn btn-light btn-sm" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-light btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
