<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tag Mate" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Tag Mate">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/favicon.ico" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.ico">

    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>

    <main class="flex-grow-1">
      <%= yield %>
    </main>

  </body>
</html>
